#online-label{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic bold;
}

.social {
    margin: 5px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.social :hover {
    text-decoration: none;
    color: #fff;
}

.copyright {
    color: #fff;
    margin-top: 20px;
}

.footer {
    margin-top: 100px;
    padding: 10px;
}

#messages {
    background-color: rgb(85, 220, 238);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

#online-group{
    background-color: rgb(185, 185, 185);
    padding: 20px;
    border-radius: 7px;
}

.row{
    padding:20px;
}

#chats{
    background-color: rgb(151, 255, 103); 
    padding: 10px;
    border-radius: 7px;
}